body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
    background-color: #137b80;
    font-family: 'Poppins', sans-serif;
}

svg {
    background-color: white;
}

.tick line {
    stroke: #c0c0bb 
}

.tick text, .title, .source, .source a {
    fill: #635f5d;
}

.tick text {
    font-size: 1.1rem;
}
@media (max-width: 1024px) {
    .tick text {
        font-size: 0.6rem;
    }
}
@media (max-width: 640px) {
    .tick text {
        font-size: 0.35rem;
    }
}

.title {
    font-size: 2rem;
}
@media (max-width: 1024px) {
    .title {
        font-size: 1.5rem;
    }
}
@media (max-width: 640px) {
    .title {
        font-size: 1rem;
    }
}

.source {
    font-size: 0.8rem;
}
@media (max-width: 1024px) {
    .source {
        font-size: 0.6rem;
    }
}

@media (max-width: 640px) {
    .source {
        font-size: 0.4rem;
    }
}

.mark {
    fill: #137b80
}